@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using builderz.Practice.Model
@model SinglePostModel


@if (Model != null)
{
    <div class="single-tags wow fadeInUp">
        @foreach (var item in Model.Buttons)
        {
            @item.ButtonLink
        }
    </div>
}